{{template "base".}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Cheep rooms</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, obcaecati autem? Enim aliquid laudantium a cupiditate, illum earum assumenda eum quis rem distinctio quas autem, minus aliquam, quaerat molestiae odit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Et neque quidem saepe soluta. Explicabo non, repellendus ab odit blanditiis, quibusdam numquam dignissimos et vero inventore totam expedita modi similique quos! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo assumenda quasi perspiciatis quis nisi ipsum alias ad. Vero, rem distinctio laboriosam repudiandae, quae hic nam dicta nesciunt expedita sint officia.</p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

            </div>
        </div>

        </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function(){

        let html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                <div class="form-row" id="reservation-dates-model">
                    <div class="col">
                    <input disabled required class="form-controle" type="text" name="start" id="start" placeholder="Arrival">
                    </div>
                    <div class="col">
                    <input disabled required class="form-controle" type="text" name="end" id="end" placeholder="Departure">
                    </div>
                </div>
                </div>
            </div>
            </form>
        `

        attention.custom({msg: html, title: "Choose your dates"});

        });
    </script>
{{end}}