{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is home page</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque placeat unde quibusdam, totam perferendis voluptatem praesentium fuga! Unde dignissimos possimus, consectetur non commodi quod tempora autem cum. Praesentium, consequatur quae?</p>
            </div>
        </div>
    </div>
{{end}}